# Credit Card Approve

## Reference

In [49]:
# https://www.kaggle.com/datasets/youssefaboelwafa/credit-card-approval?select=cc_approvals.data

## Import Libraries

In [50]:
import numpy as numpy
import pandas as pd
import re
import matplotlib.pyplot as plt

## Import Datasets

In [51]:
# Dataset Column Overview:
# -------------------------------------------------------------------
# The features in this dataset are:


# Gender,
# Age,
# Debt,
# Married,
# BankCustomer,
# EducationLevel,
# Ethnicity,
# YearsEmployed,
# PriorDefault,
# Employed,
# CreditScore,
# DriversLicense,
# Citizen,
# ZipCode,
# Income,
# ApprovalStatus

# rename the columns of the data
a = list(range(16))
a = map(str,a)
a = list(a)
b = ['x' +c for c in a]

path = 'https://raw.githubusercontent.com/notfakearcher/yanjun/main/02_data/cc_approvals%5B1%5D.data'
credit_c = pd.read_csv(path, names = b)
credit_c

    x0     x1      x2 x3 x4  x5  x6    x7 x8 x9  x10 x11 x12    x13  x14 x15
0    b  30.83   0.000  u  g   w   v  1.25  t  t    1   f   g  00202    0   +
1    a  58.67   4.460  u  g   q   h  3.04  t  t    6   f   g  00043  560   +
2    a  24.50   0.500  u  g   q   h  1.50  t  f    0   f   g  00280  824   +
3    b  27.83   1.540  u  g   w   v  3.75  t  t    5   t   g  00100    3   +
4    b  20.17   5.625  u  g   w   v  1.71  t  f    0   f   s  00120    0   +
..  ..    ...     ... .. ..  ..  ..   ... .. ..  ...  ..  ..    ...  ...  ..
685  b  21.08  10.085  y  p   e   h  1.25  f  f    0   f   g  00260    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f  t    2   t   g  00200  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f  t    1   t   g  00200    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f    0   f   g  00280  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f  f    0   t   g  00000    0   -

[690 rows x 16 columns]

In [52]:
credit_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x0      690 non-null    object
 1   x1      690 non-null    object
 2   x2      690 non-null    float64
 3   x3      690 non-null    object
 4   x4      690 non-null    object
 5   x5      690 non-null    object
 6   x6      690 non-null    object
 7   x7      690 non-null    float64
 8   x8      690 non-null    object
 9   x9      690 non-null    object
 10  x10     690 non-null    int64
 11  x11     690 non-null    object
 12  x12     690 non-null    object
 13  x13     690 non-null    object
 14  x14     690 non-null    int64
 15  x15     690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [53]:
credit_c.isna().sum()

x0     0
x1     0
x2     0
x3     0
x4     0
x5     0
x6     0
x7     0
x8     0
x9     0
x10    0
x11    0
x12    0
x13    0
x14    0
x15    0
dtype: int64