# Import Libraries

In [64]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

# Import dataset

In [63]:
path = 'https://raw.githubusercontent.com/owid/owid-datasets/master/datasets/Air%20pollution%20by%20city%20-%20Fouquet%20and%20DPCC%20(2011)/Air%20pollution%20by%20city%20-%20Fouquet%20and%20DPCC%20(2011).csv'
pollution = pd.read_csv(path)
pollution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 4 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Entity                                                        331 non-null    object
 1   Year                                                          331 non-null    int64
 2   Smoke (Fouquet and DPCC (2011))                               301 non-null    float64
 3   Suspended Particulate Matter (SPM) (Fouquet and DPCC (2011))  331 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.5+ KB

In [65]:
pollution.isnull().sum()

Entity                                                           0
Year                                                             0
Smoke (Fouquet and DPCC (2011))                                 30
Suspended Particulate Matter (SPM) (Fouquet and DPCC (2011))     0
dtype: int64

In [67]:
pollution1 = pollution.copy()
pollution1 = pollution1.dropna()
pollution1= pollution1.reset_index(drop = )

,Entity,Year,Smoke (Fouquet and DPCC (2011)),Suspended Particulate Matter (SPM) (Fouquet and DPCC (2011))
14,London,1700,142.857143,259.740260
15,London,1701,144.285714,262.337662
16,London,1702,145.714286,264.935065
17,London,1703,147.142857,267.532467
18,London,1704,148.571429,270.129870
...,...,...,...,...
310,London,1996,14.300000,26.000000
311,London,1997,13.750000,25.000000
312,London,1998,13.750000,25.000000
313,London,1999,13.750000,25.000000
314,London,2000,13.750000,25.000000